@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Montserrat, sans-serif;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px black;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary/50;
  }
  .prose-pink {
    --tw-prose-links: rgb(189, 147, 249) !important;
    --tw-prose-invert-links: #22c55e;
  }

  .logo {
    /* font-family: 'Rubik Iso', cursive; */
    /* font-family: 'Rampart One', cursive; */
    font-family: 'Pacifico', cursive;
  }

  .tagline {
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.fade-enter-from {
  opacity: 0;
  transform: translateX(15px);
}

.fade-enter-to {
  opacity: 1;
  transform: translateX(0);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-out;
}

.fade-leave-from {
  opacity: 1;
  transform: translateX(0);
}
.fade-leave-to {
  opacity: 0;
  transform: translateX(-15px);
}

.fade-index-enter-from {
  opacity: 0;
}

.fade-index-leave-to {
  opacity: 0;
  transform: translateX(-15px);
}

.fade-index-enter-active,
.fade-index-leave-active {
  transition: all 0.3s ease-in-out;
}
